table{
    border-collapse: collapse;
    width: 50%;
    margin: 20px 0;
}
th, td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
}
th {
    background: #f4f4f4;
}
#pagination {
    margin: 10px 0;
}