h1{
  margin-top: 0;
}

.titulo {
  text-align: center;
  color: #FFCB05; /* Amarillo Pokémon */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-shadow: 2px 2px 0 #3B4CCA, 4px 4px 0 #FF0000;
  font-size: 2.2em;
  margin-bottom: 20px;
}

.pokemon-list-container {
  background: linear-gradient(135deg, #3B4CCA 80%, #FFCB05 100%);
  border-radius: 12px;
  padding: 10px;
  max-width: 600px;
  margin: 5px auto;
  box-shadow: 0 4px 16px #0005;
  border: 3px solid #FF0000;
  width: 600px;
}

.pokemon-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
  background: transparent;
  border-radius: 8px;
  overflow: hidden;
}


.pokemon-table th, .pokemon-table td {
  padding: 6px;
  text-align: left;
  border-bottom: 2px solid #FFCB05;
  color: #fff;
  font-size: 1em;
}

.pokemon-table th {
  background: #3B4CCA;
  color: #FFCB05;
  font-weight: bold;
  text-shadow: 1px 1px 2px #000;
}

.pokemon-table tr:last-child td {
  border-bottom: none;
}

.pokemon-table tr:hover td {
  background: #FFCB05;
  color: #3B4CCA;
  transition: background 0.2s, color 0.2s;
}
.paginacion {
  margin-top: 18px;
  display: flex;
  justify-content: center;
  gap: 12px;
}

.paginacion button {
  background: #FFCB05;
  color: #3B4CCA;
  border: 2px solid #3B4CCA;
  border-radius: 6px;
  padding: 6px 16px;
  font-weight: bold;
  font-size: 1em;
  cursor: pointer;
  transition: background 0.2s, color 0.2s;
}

.paginacion button:disabled {
  background: #ccc;
  color: #888;
  border: 2px solid #aaa;
  cursor: not-allowed;
}

.paginacion span {
  color: #fff;
  font-weight: bold;
  text-shadow: 1px 1px 2px #3B4CCA;
}

.filtro-busqueda {
  width: 90%;
  padding: 6px;
  margin-bottom: 18px;
  border-radius: 8px;
  border: 2px solid #3B4CCA;
  font-size: 1em;
  background: #fff;
  color: #3B4CCA;
  font-weight: bold;
  outline: none;
  transition: border 0.2s;
}

.filtro-busqueda:focus {
  border: 2px solid #FFCB05;
}

